@font-face {
  font-family: 'Stylish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Stylish Regular'), local('Stylish-Regular'), url(https://fonts.gstatic.com/s/stylish/v7/m8JSjfhPYriQkk7-TorzcA.ttf) format('truetype');
}
/*===== Colors =====*/
/*===== Fonts =====*/
/*===== Breakpoints =====*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  z-index: 9;
}
nav .logo {
  height: 8.5rem;
  margin-right: 70%;
}
nav .hamburger {
  margin-top: 2rem;
  display: none;
}
nav a {
  padding-top: 3.5rem;
  margin-right: 3rem;
  font-size: 1rem;
  font-family: 'Stylish', sans-serif;
  color: #FF9F1C;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
nav a:hover {
  color: #C63E60;
  text-decoration: none;
}
@media (max-width: 800px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
  }
  nav .logo {
    display: none;
  }
  nav .hamburger {
    display: inline;
  }
  nav .is-active {
    display: flex;
  }
  nav a {
    padding-top: 2rem;
    margin-right: 0rem;
    font-size: 1.5rem;
    display: none;
  }
  nav a:hover {
    color: #C63E60;
    text-decoration: none;
  }
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
  }
  nav .logo {
    display: none;
  }
  nav .hamburger {
    display: inline;
  }
  nav .is-active {
    display: flex;
  }
  nav a {
    padding-top: 2rem;
    margin-right: 0rem;
    font-size: 1rem;
    display: none;
  }
  nav a:hover {
    color: #C63E60;
    text-decoration: none;
  }
}
footer {
  font-family: 'Stylish', sans-serif;
  font-size: 1.4rem;
  color: black;
  background-color: #FF9F1C;
  padding: 20px 0;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-content {
  background-color: #C63E60;
  margin-top: 8rem;
  font-family: sans-serif;
  z-index: 10;
}
.top-content h1 {
  padding-top: 5rem;
  font-size: 4rem;
  margin: 2rem;
  font-family: 'Stylish', sans-serif;
  color: #FF9F1C;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.top-content p {
  font-size: 1.5rem;
  font-family: 'Stylish', sans-serif;
  margin: 2rem;
  text-align: left;
  color: #FDFFFC;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.top-content .parallax {
  height: 45rem /*3456px*/;
  background: url("../assets/img/concert-984237.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.top-content .parallax .left-content {
  filter: none;
  padding: 3rem;
  width: 50%;
}
.top-content .parallax .left-content input[type="text"] {
  filter: none;
  opacity: 0.7;
  width: 60%;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0rem;
  margin-left: 2rem;
  display: inline-block;
  border: 0.1rem solid #FDFFFC;
  border-radius: 0.8rem;
  box-sizing: border-box;
  background-color: black;
  color: #FDFFFC;
  z-index: -1;
}
.top-content .parallax .left-content button {
  filter: none;
  opacity: 0.9;
  padding: 1.2rem 2rem;
  margin: 0.8rem 0rem;
  border: 0.2rem solid black;
  border-radius: 0.8rem;
  box-sizing: border-box;
  background-color: #2EC4B6;
  color: #FDFFFC;
  z-index: -1;
}
.top-content .parallax .left-content button:hover {
  background-color: #FF9F1C;
}
.top-content .parallax .left-content .sub {
  margin-top: 0;
  font-family: s 'Stylish', sans-serif;
  font-size: 1.2rem;
  text-align: left;
}
.top-content .parallax .left-content .sub a {
  margin-left: 0;
  color: #FF9F1C;
}
.top-content .parallax .left-content .sub a:hover {
  color: #C63E60;
}
.top-content .parallax a {
  max-width: 100%;
  color: #FDFFFC;
  font-size: 3rem;
  text-align: center;
  margin-left: 50%;
  text-decoration: none;
}
.middle-content {
  z-index: 10;
}
.middle-content h1 {
  padding: 1rem;
  font-size: 4rem;
  margin-left: 2rem;
  font-family: 'Stylish', sans-serif;
  color: #FF9F1C;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.middle-content p {
  font-family: 'Stylish', sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
  text-align: justify;
  color: #FDFFFC;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.middle-content .parallax-middle {
  padding-top: 2rem;
  height: 45rem /*3456px*/;
  background: url("../assets/img/caucasian-3385071_1920.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}
.middle-content .parallax-middle .left {
  width: 40%;
}
.middle-content .parallax-middle .right-content {
  display: border-box;
  margin: 4rem;
  margin-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 0rem;
  width: 50%;
  border: 2px solid #C63E60;
  border-radius: 1.2rem;
  background-color: black;
  opacity: 0.7;
}
.middle-content .parallax-middle .right-content p {
  font-family: 'Stylish', sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
  text-align: justify;
  color: #FDFFFC;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.middle-content .parallax-middle .right-content .arrow {
  display: none;
}
.middle-content .parallax-middle a {
  max-width: 100%;
  color: #FDFFFC;
  font-size: 3rem;
  text-align: center;
  margin-left: 50%;
  text-decoration: none;
  font-family: sans-serif;
}
.middle-content2 {
  z-index: 10;
}
.middle-content2 h1 {
  padding-top: 5rem;
  padding-left: 3rem;
  font-size: 4rem;
  margin: 2rem;
  font-family: 'Stylish', sans-serif;
  color: #FF9F1C;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.middle-content2 p {
  font-family: 'Stylish', sans-serif;
  font-size: 1.5rem;
  margin: 5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  color: #FDFFFC;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.middle-content2 .parallax-middle2 {
  background-color: #011627;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.middle-content2 .parallax-middle2 .features .people {
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.middle-content2 .parallax-middle2 .features .people .icon {
  font-size: 6rem;
}
.middle-content3 {
  z-index: 10;
}
.middle-content3 h1 {
  padding-top: 5rem;
  font-size: 4rem;
  margin: 2rem;
  font-family: 'Stylish', sans-serif;
  color: #FF9F1C;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.middle-content3 p {
  font-family: 'Stylish', sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
  text-align: justify;
  color: #FDFFFC;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.middle-content3 .parallax-middle3 {
  height: 50rem /*3456px*/;
  background: url("../assets/img/airport-2373727.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}
.middle-content3 .parallax-middle3 .left {
  width: 100%;
}
.middle-content3 .parallax-middle3 .right-content {
  padding: 3rem;
  width: 0%;
}
.middle-content3 .parallax-middle3 a {
  max-width: 100%;
  color: #FDFFFC;
  font-size: 3rem;
  text-align: center;
  margin-left: 50%;
  text-decoration: none;
  font-family: sans-serif;
}
.testimonial-content {
  display: flex;
  justify-content: center;
}
.testimonial-content h1 {
  margin-top: 5rem;
  font-size: 4rem;
  font-family: 'Stylish', sans-serif;
  color: #FF9F1C;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.testimonial-content .card {
  background-color: #C63E60;
  width: 50% !important;
}
.aboutus {
  background-color: #011627;
  padding: 5%;
  z-index: 10;
}
.aboutus h1 {
  font-size: 4rem;
  margin: 2rem;
  font-family: 'Stylish', sans-serif;
  color: #FF9F1C;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.aboutus p {
  font-size: 1.5rem;
  font-family: 'Stylish', sans-serif;
  margin: 1rem;
  color: #FDFFFC;
  text-align: center;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.aboutus .people {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.aboutus .people img {
  border: 5px solid #C63E60;
  border-radius: 40%;
  width: 80%;
}
@media (max-width: 800px) {
  .top-content {
    background-color: #C63E60;
    margin-top: 8rem;
    font-family: sans-serif;
    z-index: 10;
  }
  .top-content h1 {
    padding-top: 5rem;
    font-size: 4rem;
    margin: 2rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .top-content p {
    font-size: 1.5rem;
    font-family: 'Stylish', sans-serif;
    margin: 2rem;
    text-align: left;
    color: #FDFFFC;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .top-content .parallax {
    height: 45rem /*3456px*/;
    background: url("../assets/img/concert-984237.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .top-content .parallax .left-content {
    filter: none;
    padding: 3rem;
    width: 100%;
  }
  .top-content .parallax .left-content input[type="text"] {
    filter: none;
    opacity: 0.7;
    width: 60%;
    padding: 1.2rem 2rem;
    margin: 0.8rem 0rem;
    margin-left: 2rem;
    display: inline-block;
    border: 0.1rem solid #FDFFFC;
    border-radius: 0.8rem;
    box-sizing: border-box;
    background-color: black;
    color: #FDFFFC;
    z-index: -1;
  }
  .top-content .parallax .left-content button {
    filter: none;
    opacity: 0.9;
    padding: 1.2rem 2rem;
    margin: 0.8rem 0rem;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    box-sizing: border-box;
    background-color: #2EC4B6;
    color: #FDFFFC;
    z-index: -1;
  }
  .top-content .parallax .left-content button:hover {
    background-color: #FF9F1C;
  }
  .top-content .parallax .left-content .sub {
    margin-top: 0;
    font-family: s 'Stylish', sans-serif;
    font-size: 1.2rem;
    text-align: left;
  }
  .top-content .parallax .left-content .sub a {
    margin-left: 0;
    color: #FF9F1C;
  }
  .top-content .parallax .left-content .sub a:hover {
    color: #C63E60;
  }
  .top-content .parallax a {
    max-width: 100%;
    color: #FDFFFC;
    font-size: 3rem;
    text-align: center;
    margin-left: 50%;
    text-decoration: none;
  }
  .middle-content {
    z-index: 10;
  }
  .middle-content h1 {
    padding-top: 1rem;
    font-size: 4rem;
    margin: 2rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .middle-content p {
    font-family: 'Stylish', sans-serif;
    font-size: 1.5rem;
    margin: 2rem;
    text-align: justify;
    color: #FDFFFC;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .middle-content .parallax-middle {
    height: 50rem /*3456px*/;
    background: url("../assets/img/caucasian-3385071_1920.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
  }
  .middle-content .parallax-middle .left {
    width: 0%;
  }
  .middle-content .parallax-middle .right-content {
    padding: 0rem;
    width: 100%;
  }
  .middle-content .parallax-middle a {
    max-width: 100%;
    color: #FDFFFC;
    font-size: 3rem;
    text-align: center;
    margin-left: 50%;
    text-decoration: none;
    font-family: sans-serif;
  }
  .middle-content2 {
    z-index: 10;
  }
  .middle-content2 h1 {
    padding-top: 5rem;
    padding-left: 3rem;
    font-size: 4rem;
    margin: 2rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .middle-content2 p {
    font-family: 'Stylish', sans-serif;
    font-size: 1.5rem;
    margin: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    color: #FDFFFC;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .middle-content2 .parallax-middle2 {
    background-color: #011627;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .middle-content2 .parallax-middle2 .features .people {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .middle-content2 .parallax-middle2 .features .people .icon {
    font-size: 6rem;
  }
  .testimonial-content {
    display: flex;
    justify-content: center;
  }
  .testimonial-content h1 {
    padding-left: 3rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .aboutus {
    background-color: #011627;
    padding: 5%;
    z-index: 10;
  }
  .aboutus h1 {
    font-size: 4rem;
    margin: 2rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .aboutus p {
    font-size: 1.5rem;
    font-family: 'Stylish', sans-serif;
    margin: 1rem;
    color: #FDFFFC;
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .aboutus .people {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
  }
}
@media (max-width: 500px) {
  .top-content {
    background-color: #C63E60;
    margin-top: 5rem;
    font-family: sans-serif;
    z-index: 10;
  }
  .top-content h1 {
    padding-top: 3rem;
    font-size: 3rem;
    margin: 2rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .top-content p {
    font-size: 1.5rem;
    font-family: 'Stylish', sans-serif;
    margin: 2rem;
    text-align: left;
    color: #FDFFFC;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .top-content .parallax {
    height: 35rem /*3456px*/;
    background: url("../assets/img/concert-984237.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .top-content .parallax .left-content {
    filter: none;
    padding: 0.5rem;
    width: 100%;
  }
  .top-content .parallax .left-content input[type="text"] {
    display: none;
  }
  .top-content .parallax .left-content button {
    width: 100%;
    filter: none;
    opacity: 0.9;
    padding: 1.2rem 5rem;
    border: 0.2rem solid black;
    border-radius: 0.8rem;
    box-sizing: border-box;
    background-color: #2EC4B6;
    color: #FDFFFC;
    z-index: -1;
  }
  .top-content .parallax .left-content button:hover {
    background-color: #FF9F1C;
  }
  .top-content .parallax .left-content .sub {
    margin-top: 0;
    font-family: 'Stylish', sans-serif;
    font-size: 1.2rem;
    text-align: left;
  }
  .top-content .parallax .left-content .sub a {
    color: #FF9F1C;
  }
  .top-content .parallax .left-content .sub a:hover {
    color: #C63E60;
  }
  .top-content .parallax .arrow {
    display: none;
  }
  .middle-content {
    z-index: 10;
  }
  .middle-content h1 {
    padding-top: 1rem;
    font-size: 3rem;
    margin: 2rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .middle-content p {
    font-family: 'Stylish', sans-serif;
    font-size: 1.2rem;
    margin: 2rem;
    text-align: justify;
    color: #FDFFFC;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .middle-content .parallax-middle {
    height: 50rem /*3456px*/;
    background: url("../assets/img/caucasian-3385071_1920.jpg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
  }
  .middle-content .parallax-middle .left {
    width: 0%;
  }
  .middle-content .parallax-middle .right-content {
    padding: 0rem;
    width: 100%;
  }
  .middle-content .parallax-middle .right-content .arrow {
    display: none;
  }
  .middle-content .parallax-middle a {
    max-width: 100%;
    color: #FDFFFC;
    font-size: 3rem;
    text-align: center;
    margin-left: 50%;
    text-decoration: none;
    font-family: sans-serif;
  }
  .middle-content2 {
    z-index: 10;
  }
  .middle-content2 h1 {
    padding-top: 5rem;
    padding-left: 3rem;
    font-size: 3rem;
    margin: 2rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .middle-content2 p {
    font-family: 'Stylish', sans-serif;
    font-size: 1.2rem;
    margin: 5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
    color: #FDFFFC;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .middle-content2 .parallax-middle2 {
    background-color: #011627;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .middle-content2 .parallax-middle2 .features .people {
    padding: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .middle-content2 .parallax-middle2 .features .people .icon {
    font-size: 6rem;
  }
  .testimonial-content {
    display: flex;
    justify-content: center;
  }
  .testimonial-content h1 {
    font-size: 3rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .testimonial-content .card {
    width: 68% !important;
  }
  .aboutus {
    background-color: #011627;
    padding: 5%;
    z-index: 10;
  }
  .aboutus h1 {
    font-size: 3rem;
    margin: 2rem;
    font-family: 'Stylish', sans-serif;
    color: #FF9F1C;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .aboutus p {
    font-size: 1.5rem;
    font-family: 'Stylish', sans-serif;
    margin: 1rem;
    color: #FDFFFC;
    text-align: center;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  }
  .aboutus .people {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
  }
  .aboutus .people img {
    border: 5px solid #C63E60;
    border-radius: 40%;
    width: 50%;
  }
}
.width-100 {
  width: 100%;
}
.border-bottom-grey {
  border-bottom: 1px solid lightgrey;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
@media (min-width: 1200px) {
  .carousel {
    width: 1200px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  color: black;
  background-color: #FF9F1C;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: #333;
  background-color: #fff;
  border: 2px solid #333;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel .card {
  width: 100%;
  display: none;
}
body {
  margin: 0 auto;
  background-color: black;
}
html {
  scroll-behavior: smooth;
}
