.parallax {
  height: 3456px;
  background: url("../assets/img/concert-984237.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.top-content {
  background-color: @brickred;
  margin-top: 50rem;
  font-family: sans-serif;

  h1 {
    font-size: 4rem;
    margin: 2rem;
    font-family: @main-font;
    color: @babypowder;
    text-shadow: -1px -1px 0 @parrotpink, 1px -1px 0 @parrotpink,
      -1px 1px 0 @parrotpink, 1px 1px 0 @parrotpink;
  }

  p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: justify;
    color: @babypowder;
  }

  .left-content {
    input[type="text"] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-sizing: border-box;
      background-color: @parrotpink;
    }
  }

  .right-content {
    margin-left: 2rem;
    width: 50%;
    height: auto;
  }
}
