@import "./variables.less";
@import "./reset.less";
@import "./navigation.less";
@import "./footer.less";
@import "./home-page.less";

body {
  margin: 0 auto;
  background-color: @masstrichtblue;
}

html {
  scroll-behavior: smooth;
}
