
nav {
    display: flex;
    justify-content: flex-end;
    background-color: @masstrichtblue;
    padding: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-bottom: 1rem;

    .logo {
        height: 9rem;
        margin-right: 3rem;
    }

    a {
        padding-top: 3.5rem;
        margin-right: 3rem;
        font-size: 1rem;
        text-decoration: none;
        font-family: @main-font;
        color: @brightyellow;
    }
}


