nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: black;
  padding: 2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  // margin-bottom: 1rem;
  z-index: 9;

  .logo {
    height: 8.5rem;
    margin-right: 70%;
  }

  a {
    padding-top: 3.5rem;
    margin-right: 3rem;
    font-size: 1rem;
    font-family: @main-font;
    color: @brightyellow;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black,
      -1px 1px 0 black, 1px 1px 0 black;

    &:hover {
      color: @brickred;
      text-decoration: none;
    }
  }
}
